---
layout: handbook-page-toc
title: "Growth Section Engineering Metrics"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

These pages are part of our centralized [Engineering Metrics Dashboards](/handbook/engineering/metrics/)

### Group Pages
* [Acquisition Group Dashboards](/handbook/engineering/metrics/growth/acquisition)
* [Activation Group Dashboards](/handbook/engineering/metrics/growth/activation)
* [Product Intelligence Group Dashboards](/handbook/engineering/metrics/growth/product-intelligence)

<%= partial "handbook/engineering/metrics/partials/team_dashboard.erb", locals: { filter_type: "development_section", filter_value: "Growth" } %>

